extends layout

block head
    link(href='css/jquery.terminal.css', rel='stylesheet')
    script
        | token = '#{token}'

block foot-scripts
    script(src='js/jquery.terminal.min.js')
    script(src='js/jquery.mousewheel-min.js')
    script(src='js/console.js')
    script(src='/socket.io/socket.io.js')


block content
    #term