extends layout
block content
    form.form-horizontal(action="/cron/edit/" + (cron._id || 'new') method="post")
        h3 Edit Cron
        .form-group
            label.col-xs-3.control-label(for='name') Name
            .col-xs-9
                input.form-control#name(required name='name' value=(cron.name || ''))
        .form-group
            label.col-xs-3.control-label(for='time') Time (s m h DoM m DoW)
            .col-xs-9
                input.form-control#time(required name='time' value=(cron.time || ''))
        .form-group
            label.col-xs-3.control-label(for='type') Type
            .col-xs-9
                select.form-control#type(name='type')
                    - var types = ['command', 'backup']
                    each type in types
                        option(selected=cron.type === type) #{type}
        #command-section
            .form-group
                label.col-xs-3.control-label(for='command') Command
                .col-xs-9
                    input.form-control#command(required name='command' value=(cron.command || ''))
        #backup-section
            .form-group
                label.col-xs-3.control-label(for='backupName') Backup Name
                .col-xs-9
                    input.form-control#backupName(name='backupName' value=(cron.backupName || ''))
        input.btn.btn-default.submit(type="submit")

block foot-scripts
    script(src='/js/cron.js')