extends layout
block head
    link(href='/vendor/vis/vis.min.css', rel='stylesheet')

block content
    h2 Welcome #{user.username}!
    .row.wrow
        .col-md-10
            .tile-stats.wwidget.wwidgetDouble
                .row
                    h4.col-sm-6 Recent Player History
                    .pull-right(style='margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED')
                        i.glyphicon.glyphicon-calendar.fa.fa-calendar
                        = ' '
                        input#time(type="date")
                #playerTimes(style='height: 90%;')
        .col-md-2
            .tile-stats.wwidget
                h4 Server Management
                a.btn.btn-danger.row.max-width.widget-btn(href='/server/stop') Stop
                a.btn.btn-warning.row.max-width.widget-btn(href='/server/restart') Restart
                a.btn.btn-success.row.max-width.widget-btn(href='/server/start') Start
        .col-md-2
            .tile-stats.wwidget
                h4 Online Players
                ul.wwidgetRemaining
                    each player in players
                        li
                            a(href='/player/' + player.uuid) #{player.username}

block foot-scripts
    script(src='/vendor/vis/vis.min.js')
    script(src='/js/index.js')