doctype html
html(lang='en')
    head
        include header
    body.nav-md
        .container.body
            .main_container
                include nav-left
                include nav-top
                // /top navigation
                // page content
                .right_col(role='main', style='height: 100vh')
                    block content
        // jQuery
        script(src='vendors/jquery/dist/jquery.min.js')
        // Bootstrap
        script(src='vendors/bootstrap/dist/js/bootstrap.min.js')
        // FastClick
        script(src='vendors/fastclick/lib/fastclick.js')
        // NProgress
        script(src='vendors/nprogress/nprogress.js')
        // Custom Theme Scripts
        script(src='js/custom.min.js')

        block foot-scripts