-function hasPerm(perm) {
-   if(typeof user.roles !== 'undefined') {
-       return (user.roles.indexOf('all') !== -1 || user.roles.indexOf(perm) !== -1)
-   }
-}
doctype html
html(lang='en')
    head
        include header
    body.nav-md
        .container.body
            .main_container
                include nav-left
                include nav-top
                // /top navigation
                // page content
                .right_col(role='main', style='height: 100vh')
                    if alerts && alerts.length > 0
                        each alert in alerts
                            div(class=`alert alert-dismissable alert-${alert.type}` role='alert')
                                a.close(data-dismiss="alert" aria-label="Close")
                                    span(aria-hidden='true') &times;
                                //strong #{alert.type}!
                                = ' ' + alert.message
                    block content
        // jQuery
        script(src='/vendors/jquery/dist/jquery.min.js')
        // Bootstrap
        script(src='/vendors/bootstrap/dist/js/bootstrap.min.js')
        // FastClick
        script(src='/vendors/fastclick/lib/fastclick.js')
        // NProgress
        script(src='/vendors/nprogress/nprogress.js')
        // Custom Theme Scripts
        script(src='/js/custom.min.js')

        block foot-scripts