extends layout
block head
    link(href='/vendor/vis/vis.min.css', rel='stylesheet')
block content
    .row
        .col-md-12.col-sm-12.col-xs-12
            .x_panel
                .x_content
                    .col-md-3.col-sm-3.col-xs-12.profile_left
                        .profile_img
                            img.img-responsive.avatar-view(src='https://mcapi.ca/avatar/' + player.username, alt='Avatar')
                        h3 #{player.username}
                        ul.list-unstyled.user_data
                            li
                                img(src='/img/ico/rank.svg' style='width: 2em;' data-placement="left" data-toggle="tooltip" data-html="true" title="Rank")
                                | #{player.title}
                    .col-md-9.col-sm-9.col-xs-12
                        .profile_title
                            .col-md-12
                                .tile-stats.wwidget
                                    .row
                                        h4.col-sm-4 Recent Player History
                                        .pull-right(style='margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED')
                                            i.glyphicon.glyphicon-calendar.fa.fa-calendar
                                            = ' '
                                            input#time(type="date")
                                    #playerTimes(style='height: 80%;')
block foot-scripts
    script
        | uuid ='#{player.uuid}'
    script(src='/vendor/vis/vis.min.js')
    script(src='/js/player.js')