extends layout
block content
    .row
        .col-md-12.col-sm-12.col-xs-12
            .x_panel
                .x_content
                    .col-md-3.col-sm-3.col-xs-12.profile_left
                        .profile_img
                            img.img-responsive.avatar-view(src='https://mcapi.ca/avatar/' + player.username, alt='Avatar')
                        h3 #{player.username}
                        ul.list-unstyled.user_data
                            li #{player.title}
                    .col-md-9.col-sm-9.col-xs-12
                        .profile_title
                            .col-md-6
                                h2 User Activity
                            .col-md-6
                                #range.pull-right(style='margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED')
                                    i.glyphicon.glyphicon-calendar.fa.fa-calendar
                                    span  February 20, 2017
                                        |
                                    b.caret