extends layout
block content
    h3 WebUI Admins
    table.table.table-striped
        thead
            tr
                th Username
                th Enabled
                th Actions
        tbody
            each user in users
                tr
                    td #{user.username}
                    td
                        if !!user.disabled
                            span.label.label-danger Disabled
                        else
                            span.label.label-success Enabled
                    td
                        if user.username !== 'admin'
                            a.btn.btn-danger(href=`/users/delete/${user.username}`) Delete
                        else
                            a.btn.btn-danger(disabled="disabled" data-toggle="tooltip" title="You can never delete the admin user") Delete
                        a.btn.btn-warning(href=`/users/disable/${user.username}`) Disable
                        a.btn.btn-default(href=`/users/edit/${user.username}`) Edit
