extends layout
block content
    h3 WebUI Admins
    table.table.table-striped
        thead
            tr
                th Username
                th Enabled
                th Actions
        tbody
            each u in users
                tr
                    td #{u.username}
                    td
                        if !!u.disabled
                            span.label.label-danger Disabled
                        else
                            span.label.label-success Enabled
                    td
                        if u.username === 'admin'
                            a.btn.btn-danger(disabled="disabled" data-toggle="tooltip" title="You can't delete the admin user") Delete
                        else if u.username === user.username
                            a.btn.btn-danger(disabled="disabled" data-toggle="tooltip" title="You can't delete yourself!") Delete
                        else
                            a.btn.btn - danger(href =`/users/delete/${u.username}`) Delete
                        a.btn.btn-warning(href=`/users/disable/${u.username}`) Disable
                        a.btn.btn-default(href=`/users/edit/${u.username}`) Edit
