extends layout
block content
    h3 WebUI Admins
    table.table.table-striped
        thead
            tr
                th Username
                th Enabled
                th Actions
        tbody
            each user in users
                tr
                    td #{user.username}
                    td
                        if !!user.disabled
                            span.label.label-danger Disabled
                        else
                            span.label.label-success Enabled
                    td
                        if user.username !== 'admin'
                            a.btn.btn-danger Delete
                        else
                            a.btn.btn-danger(disabled="disabled") Delete
                        a.btn.btn-warning Disable
                        a.btn.btn-default Edit
